log abacross.com/ops-journal+bd9c5846+AXeq0z95TSEdX1uqVFrhWbi6tM97Arxl2lOYymAhjW5e
witness abacross.com/ops-journal/witness+4480dd2a+BEexrb8RvtM+81CtbSi4zByJrT3+JKwdVb8kiIz17OQU
quorum 1
